extends base.jade

block content
  .page-header
    h2 About
  .lead
    p Let the games begin!

  p What is a Fitbout you say? Why, it's a grueling three month Fitbit step-off! From October 1st until Christmas I'll be tracking your steps and we'll battle it out to see who can average the most steps overall and in a single day!
  p I'll be breaking us up into Men and Women's divisions and I'm even considering 2nd place prizes ;O
  p Do your best guys and the ones who come out ahead at the end will surely be rewarded!
